* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2042;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  padding: 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-left: 60px;
}

.nav ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 60px;
}

.nav ul li {
  display: inline-block;
  padding: 10px;
}

.nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header nav ul li a:hover {
  border-bottom: 2px solid #f79533;
}


.active {
  border-bottom: 2px solid #f79533;
}

/* Résumé du restaurant*/
.summary {
  background: url('../assets/cafe.jpg') no-repeat center;
  background-size: cover;
  height: 500px;
}

.text-content {
  color: white;
  padding: 30px;
}

.summary-content {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.separator {
  height: 3px;
  width: 100px;
  background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  margin: 20px auto;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
  color: #acaaaa;
}

.btn {
  background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.btn:hover {
  /* Grossir le bouton*/
  transform: scale(1.1);
  transition: all 0.5s ease;
}

hr {
  margin: 30px auto;
  height: 3px;
  width: 100px;
  background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border: none;
}

.feature {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.feature-content {
  text-align: center;
  color: white;
  width: 30%;
}

.person {
  height: 900px;
  width: 100%;
  background: url('../assets/server.jpg') no-repeat;
  background-size: cover;

}

.reservation {
  padding: 30px;
  text-align: center;
  color: white;
}

.container-reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid white;
}

.menuFooter {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin: 1rem;
}

.menuFooter li a:hover {
  border-bottom: 2px solid #f79533;
}

.footer p {
  margin-top: 2rem;
}

.where {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  color: white;
  margin-top: 30px;
}

.map {
  width: 700px;
  height: 400px;
}
.where-content {
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}


.container-address{
  display: flex;
  width: 60%;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
}

.container-address p{
  margin-left: 30px;  
}

.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.form-contact-container{
  display: flex;
  align-items: center;
  width: 30%;
  height: 80%;
  border: #acaaaa 2px solid;
  border-radius: 10px;
  margin: 20px;
  box-shadow: #9fa2ee 5px 5px 5px;
}

.form-contact{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 80%;
  justify-content: space-around;
 
}

.form-contact-container form label {
  color:#acaaaa;
  font-size: 16px;
}

.form-contact-container form input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.form-contact-container form textarea{
  width: 100%;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn-contact{
  align-self: flex-end;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  background-color: #f79533;
  color: rgb(9, 8, 8);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn-contact:hover{
  background-color: #121dbb;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease;
}